.total-box {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #222;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  font-size: 22px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.total-box p {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}
